*{
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

    
#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

body{
    text-align: center;
    padding-top: 160px;
    background-image: url(./imagens/bahia-fundo-socio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    font-family: "Inter", sans-serif;
}

h3{
    color: white;
    font-size: 16px;
    line-height: 19px;
}

h3 span{
    color: white;
}


h1 {
    color: white;
    margin-top: 14px;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family:  "Annapurna SIL", serif;
}

p {
    color: white;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    opacity: .8;
}

a{
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #fff;
    border-radius: 5%;
    opacity: 1;
    transition: all 0.4s ease-in;
    
}

a:hover{
    background-color: #fff;
    color: black;

    
}